:root {
  --Black: #25292e;
  --White: #fff;

  --Blue-100: #007bff;
  --Blue-90: #1a8cff;
  --Blue-60: #4dabff;
  --Blue-30: #99ccff;
  --Blue-10: #e6f2ff;
  --Blue-5: #f2f8ff;
  --Blue-1: #fafcff;

  --Dark-Blue-100: #14213d;
  --Dark-Blue-50: #394867;
  --Dark-Blue-10: #8d99ae;

  --Gray-100: #333333;
  --Gray-90: #4f4f4f;
  --Gray-60: #858585;
  --Gray-40: #999999;
  --Gray-30: #b2b2b2;
  --Gray-20: #dddddd;
  --Gray-10: #e0e0e0;
  --Gray-5: #f0f0f0;
  --Gray-2: #fafafa;

  --Error: #cf222e;
  --Error-Hover: #d3584e;
  --Success: #1a7f37;

  --border-width-thin: max(1px, 0.0625rem);
  --border-color-default: #d1d9e0;

  // Button Color
  --button-font-secondary: #25292e;
  --button-font-primary: #ffffff;
  --button-font-danger: #d1242f;
  --button-font-invisible: #25292e;

  --button-bg-secondary: #F6F8FA;
  --button-bg-primary: #1f883d;
  --button-bg-danger: #f6f8fA;
  --button-bg-invisible: #ffffff00;

  --button-border-secondary: #D1D9E0;
  --button-border-primary: #1f232826;
  --button-border-danger: #d1d9e0;

  // Button Hover Color
  --button-font-secondary-hover: #25292e;
  --button-font-primary-hover: #ffffff;
  --button-font-danger-hover: #ffffff;
  --button-font-invisible-hover: #25292e;

  --button-bg-secondary-hover: #EFF2F5;
  --button-bg-primary-hover: #1C8139;
  --button-bg-danger-hover: #A40E26;
  --button-bg-invisible-hover: #818b981a;

  --button-border-secondary-hover: #d1d9e0;
  --button-border-primary-hover: #1f232826;
  --button-border-danger-hover: #1f232826;

  // Button Disabled Color
  --button-font-secondary-disabled: #818b98;
  --button-font-primary-disabled: #ffffffcc;
  --button-font-danger-disabled: #d1242f80;
  --button-font-invisible-disabled: #818b98;
    
  --button-bg-secondary-disabled: #f6f8fA;
  --button-bg-primary-disabled: #95d8a6;
  --button-bg-danger-disabled: #f6f8fa;
  --button-bg-invisible-disabled: #eff2f5;
    
  --button-border-secondary-disabled: #818b981a;
  --button-border-primary-disabled: #95d8a6;

  // Button Active Color
  --button-font-secondary-active: #25292e;
  --button-font-primary-active: #ffffff;
  --button-font-danger-active: #ffffff;
  --button-font-invisible-active: #25292e;
  
  --button-bg-secondary-active: #e6eaef;
  --button-bg-primary-active: #197935;
  --button-bg-danger-active: #8b0820;
  --button-bg-invisible-active: #818B9826;
  
  --button-border-secondary-active: #d1d9e0;
  --button-border-primary-active: #1f232826;
  --button-border-danger-active: #1f232826;

  // Button Focus
  --button-focus: #0969da;

  // Input Color
  --input-focus: #0969da;
  --focus-outside: #0969da;
  --input-error: #d1242f;
  --input-success: #1a7f37;

  // shadow
  --shadow-inset: inset 0px 1px 0px 0px #1f23280a;

  // sidebar
  --sidebar-background: #f6f8fa;
}