.btn {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 6px;

  .ico_comm {
    margin-top: -1px;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    border-color: var(--button-focus);
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
  }

  &.search {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    color: #59636e;
    padding: 5px 12px;
    vertical-align: middle;
    border: 1px solid #d1d9e0;
    width: 260px;
    height: 32px;

    img {
      margin-right: 10px;
    }

    span {
      display: inline-grid;
      width: 15px;
      height: 15px;
      padding: 0;
      font-size: 12px;
      color: inherit;
      vertical-align: baseline;
      background: #ffffff00;
      border: 1px solid #818b98;
      border-radius: 0.1875rem;
      box-shadow: none;
      align-items: center;
      justify-content: center;
      margin-right: 3px;
    }

    p {
      margin-top: 1px;
      color: #818b98;
    }
  }

  &:disabled {
    cursor: not-allowed;

    .ico_comm {
      opacity: 0.2;
    }
  }

  &+.btn {
    margin-left: 8px;
  }
}

.txt_btn {
  display: block;

  +.ico_comm {
    margin-left: 4px;
  }
}

.group_btn {
  font-size: 0;
  line-height: 0;

  &+.group_btn {
    margin-top: 16px;
  }
}

.btn_large {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
}

.btn_medium {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
}

.btn_small {
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 500;
}

.btn_primary {
  color: var(--button-font-primary);
  background-color: var(--button-bg-primary);
  border-color: var(--button-border-primary);

  &:hover {
    color: var(--button-font-primary-hover);
    background-color: var(--button-bg-primary-hover);
    border-color: var(--button-border-primary-hover);
  }

  &:active {
    color: var(--button-font-primary-active);
    background-color: var(--button-bg-primary-active);
    border-color: var(--button-border-primary-active);
  }

  &:disabled {
    color: var(--button-font-primary-disabled);
    background-color: var(--button-bg-primary-disabled);
    border-color: var(--button-border-primary-disabled);
  }
}

.btn_secondary {
  color: var(--button-font-secondary);
  background-color: var(--button-bg-secondary);
  border-color: var(--button-border-secondary);

  &:hover {
    color: var(--button-font-secondary-hover);
    background-color: var(--button-bg-secondary-hover);
    border-color: var(--button-border-secondary-hover);
  }

  &:active {
    color: var(--button-font-secondary-active);
    background-color: var(--button-bg-secondary-active);
    border-color: var(--button-border-secondary-active);
  }

  &:disabled {
    color: var(--button-font-secondary-disabled);
    background-color: var(--button-bg-secondary-disabled);
    border-color: var(--button-border-secondary-disabled);
  }
}

.btn_danger {
  color: var(--button-font-danger);
  background-color: var(--button-bg-danger);
  border-color: var(--button-border-danger);

  &:hover {
    color: var(--button-font-danger-hover);
    background-color: var(--button-bg-danger-hover);
    border-color: var(--button-border-danger-hover);
  }

  &:active {
    color: var(--button-font-danger-active);
    background-color: var(--button-bg-danger-active);
    border-color: var(--button-border-danger-active);
  }

  &:disabled {
    color: var(--button-font-danger-disabled);
    background-color: var(--button-bg-danger-disabled);
    border-color: transparent;
  }
}

.btn_invisible {
  color: var(--button-font-invisible);
  background-color: var(--button-bg-invisible);
  border-color: transparent;

  &:hover {
    color: var(--button-font-invisible-hover);
    background-color: var(--button-bg-invisible-hover);
    border-color: transparent;
  }

  &:active {
    color: var(--button-font-invisible-active);
    background-color: var(--button-bg-invisible-active);
    border-color: transparent;
  }

  &:disabled {
    color: var(--button-font-invisible-disabled);
    background-color: var(--button-bg-invisible-disabled);
    border-color: transparent;
  }
}