.item_form {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;

  .desc_error {
    color: var(--input-error);
  }

  .desc_success {
    color: var(--input-success);
  }
}

.inner_tf {
  position: relative;
  width: 100%;
}

.box_tf {
  position: relative;
  display: flex;

  .search_icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--Gray-60);
    height: 20px;
    width: 20px;
  }

  .del_icon {
    position: absolute;
    right: 27px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    color: var(--Gray-60);
    height: 16px;
    width: 16px;
  }

  .ico_search {
    display: block;
  }

  .btn_del {
    position: absolute;
    right: 27px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
  }
}

.tf_comm {
  display: inline-block;
  width: 100%;
  padding: 5px 12px;
  border: 1px solid var(--Gray-10);
  border-radius: 6px;
  font-size: 14px;
  height: 32px;
  color: var(--Gray-90);
  background-color: var(--White);
  text-align: left;
  vertical-align: middle;
  box-sizing: border-box;
  outline: none;
  resize: none;
  box-shadow: var(--shadow-inset);
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color, background-color, box-shadow, border-color;

  &:focus {
    border-color: var(--input-focus);
    outline: none;
    box-shadow: inset 0 0 0 1px var(--focus-outside);
  }

  &:disabled {
    border-color: var(--Gray-10);
    color: var(--Gray-30);
    background-color: var(--Gray-2);
    cursor: not-allowed;
  }

  &[readonly] {
    border-color: var(--Gray-10);
    background: var(--Gray-2);
  }

  &.error {
    border-color: var(--Error);
  }

  &.success {
    border-color: var(--Success);
  }

  &::-webkit-input-placeholder {
    color: var(--Gray-60);
    opacity: 1;
  }

  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    color: var(--Gray-60);
    opacity: 1;
  }

  &[readonly]::-webkit-input-placeholder {
    color: var(--Gray-30);
    opacity: 1;
  }

  &:disabled::-webkit-input-placeholder,
  &:disabled::-moz-placeholder,
  &:disabled:-ms-input-placeholder,
  &:disabled:-moz-placeholder {
    color: var(--Gray-30);
    opacity: 1;
  }
}

input.tf_comm[readonly] {
  background-color: var(--Gray-2);
}

.form_small {
  width: 90px;
}

.form_medium {
  width: 150px;
}

.form_large {
  width: 200px;
}

.txt_error {
  margin-top: 10px;
  font-size: 14px;
  color: var(--Error);
}

.txt_success {
  margin-top: 10px;
  font-size: 14px;
  color: var(--Success-Input);
}

.opt_comm {
  position: relative;
  width: 100%;

  .tf_comm {
    padding-right: 40px;

    &:focus {
      border-color: var(--Gray-90);
    }

    &.error:focus {
      border-color: var(--Error);
    }
  }

  .box_tf {
    .btn_g {
      position: absolute;
      top: 0;
      right: 0;
      padding: 16px 8px;
      line-height: 0;
      opacity: 0.6;

      &:last-child {
        padding-right: 16px;
      }

      &:disabled {
        opacity: 0.2;
      }
    }

    .btn_del {
      display: none;
      right: 36px;
      padding-right: 4px;
      opacity: 1;
    }

    .tf_comm:focus~.btn_g {
      opacity: 1;
    }

    .tf_comm:disabled~.btn_del,
    .tf_comm[readonly]+.btn_del {
      display: none;
    }
  }

  &.write {
    .tf_comm {
      padding-right: 64px;

      &[readonly] {
        padding-right: 31px;
      }
    }

    .btn_g+.btn_g {
      padding-left: 4px;
    }

    .btn_del {
      display: block;
    }
  }
}

.type_inpsearch .tf_comm {
  padding-right: 50px;
}

.opt_reverse .box_opt {
  top: auto;
  bottom: calc(100% + 4px);
}