/* Textarea */
.box_tf {
  textarea {
    min-height: 120px;
    padding: 15px;
  }

  .txt_byte {
    padding: 7px 15px;
    text-align: right;

    .num_byte {
      display: inline-block;
      color: var(--Gray-60);
      vertical-align: top;

      &.num_write {
        color: var(--Gray-90);
      }
    }

    .txt_bar {
      display: inline-block;
      font-size: 14px;
      color: var(--Gray-60);
      vertical-align: top;
    }
  }
}

.type_count {
  overflow: hidden;
  border: 1px solid var(--Gray-10);
  border-radius: 4px;
  box-sizing: border-box;

  .tf_comm {
    min-height: 83px;
    padding-bottom: 0;
    border: 0;
  }

  &.focus {
    border-color: var(--Black);
  }

  &.readonly {
    border-color: var(--Gray-2);

    .txt_byte {
      background: var(--Gray-5);

      .num_byte,
      .txt_bar {
        color: var(--Gray-30);
      }
    }
  }

  &.disabled {
    border-color: var(--Gray-10);
    background-color: var(--Gray-2);

    .txt_byte {
      background: var(--Gray-2);
    }
  }

  &.error {
    border-color: var(--Error);
    outline: 4px solid var(--Error-Hover);
  }
}

.txt_count {
  flex-shrink: 0;
  color: var(--Gray-60);

  .emph_g {
    color: var(--Gray-90);
  }
}

.inner_tf+.txt_count {
  position: absolute;
  top: 14px;
  left: calc(100% + 4px);
  white-space: nowrap;
}

.box_textarea {
  display: flex;
  position: relative;
  padding: 16px;
  border: 1px solid var(--Gray-10);
  border-radius: 4px;
  flex-direction: column;

  &:focus-within,
  &:hover {
    border-color: var(--input-focus);
    outline: none;
    box-shadow: inset 0 0 0 1px var(--focus-outside);
  }

  &.disabled,
  &.readonly {
    background: var(--Gray-2);

    &:focus-within,
    &:hover {
      border-color: var(--Gray-10);
    }
  }

  &.error {
    border-color: var(--Error);
  }

  &.type_resize {
    padding: 0;

    .tf_comm {
      min-height: 67px;
      padding: 16px;
      resize: vertical;
    }
  }

  .tf_comm {
    min-height: 67px;
    padding: 0;
    border: none;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }

    +.txt_count {
      align-self: flex-end;
      margin-top: 7px;
    }
  }

  +.desc_error {
    font-size: 13px;
  }
}