html {
  &::-webkit-scrollbar {
    width: 6px; 
  }
  /* 스크롤 막대 뒤 트랙(배경) 스타일 */
  &::-webkit-scrollbar-track {
    background-color: var(--Gray-20);
    border-radius: 4px;
  }
  /* 스크롤 막대(thumb) 스타일 */
  &::-webkit-scrollbar-thumb {
    background-color: var(--sidebar-background);
    border-radius: 4px;
  }

  scrollbar-width: thin;
  scrollbar-color: var(--Gray-20) var(--sidebar-background);
}

body {
  display: flex;
  z-index: 0;
  position: relative;
  isolation: isolate;
}

.container-doc {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  min-width: 0;
  align-items: center;
  min-height: 100vh;

  .doc-main {
    flex: 1 1;
    width: 100%;
    isolation: isolate;
  }

  .main-content {
    margin: 0 auto;
    padding: 0 40px;
  }

  .login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
  }

  .box_login {
    .group_form {
      margin-bottom: 20px;
    }
  }

  .inner-main {
    position: relative;
    width: 100%;
  }

  .content-article {
    max-width: 1760px;
    padding: 0 80px 0 50px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .doc-footer {
    .inner-foot {
      padding: 0 80px;
    }
  }

  &.gnb_open {
    .main_sub {
      left: 0;
    }

    .main-content,
    .doc-footer {
      padding-left: 240px;
    }
  }

  .main-content,
  .doc-footer {
    -webkit-transition: padding 0.2s;
    -moz-transition: padding 0.2s;
    transition: padding 0.2s;
  }

  .main_sub {
    -webkit-transition: left 0.2s;
    -moz-transition: left 0.2s;
    transition: left 0.2s;
  }
}

.type_empty {
  min-width: auto;

  .doc-main {
    display: flex;
    flex: 1 1;
    height: calc(100vh - 72px);
    justify-content: center;
  }

  .content-article {
    display: flex;
    max-width: 100%;
    min-height: 100%;
    padding: 70px 0;
    align-items: center;
    justify-content: center;
  }
}

.group_form {
  font-size: 0;
  line-height: 0;

  label {
    display: block;
    font-size: 15px;
    padding-top: 0.5rem;
    padding-bottom: 15px;
    font-weight: 500;
  }

  .password_label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: 12px;
      color: var(--Blue-90);
      text-decoration: underline;
    }
  }
}

/* ----- 반응형 ----- */
/* 1) 1024px 이하 - 예시로 레이아웃 일부 조정 */
@media screen and (max-width: 1024px) {
  .content-article {
    /* 좌우 패딩을 조금 줄여봄 */
    padding: 0 40px;
  }

  .doc-footer .inner-foot {
    padding: 0 40px;
  }
}

/* 2) 768px 이하 - 모바일/태블릿용 */
@media screen and (max-width: 768px) {
  .container-doc {
    .main-content {
      padding: 16px 8px;  /* 세로 패딩 축소 */
      .content-home {
        margin: 0;
      }
      .center_line {
        display: none;
      }
    }
  }
}
