.doc-sidebar {
  display: flex;
  flex-direction: row;
  position: sticky;
  overflow-x: hidden;
  top: 0;
  right: 0;
  width: 56px;
  height: 100dvh;
  z-index: 10001;
  box-sizing: border-box;
  transition: width 0.3s ease-in-out;

  &.open {
    width: 370px;
  }

  .inner_sidebar {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    padding: 8px 0 24px;
    width: 56px;
    height: inherit;
    background-color: var(--sidebar-background);
    border-left: 1px solid var(--border-color-default);
    z-index: 10;

    .sidebar_menu {
      display: flex;
      flex-direction: column;
      gap: 0px;
      align-items: center;
      
      button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 64px;
        color: var(--Gray-60);

        .ico_wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
        }
      }

      button:hover {
        color: var(--Black);
        .ico_wrap {
          span {
            background-color: var(--Black);
          }
        }
      }

      .btn_clicked {
        color: var(--Black)
      }

      hr {
        margin: 8px auto;
        width: 26px;
        height: 1px;
        background-color: var(--border-color-default);
        border: 0;
      }
    }
  }
  .sidebar_sub {
    position: sticky;
    top: 0;
    right: 56px;
    width: 314px;
    min-width: 314px;
    padding: 18px 0;
    display: grid;
    grid-template-rows: minmax(10px, 1fr);
    grid-template-columns: minmax(10px, 1fr);
    background-color: var(--sidebar-background);
    border-left: 1px solid var(--border-color-default);

    transform: translateX(370px) translateZ(0px);
    transition: transform 0.2s ease-in-out;
    will-change: transform;

    .inner_sub {
      display: flex;
      flex-direction: column;
      padding: 0 18px;

      .sub_tit {
        font-size: 16px;
        font-weight: 500;
      }
    }

    hr {
      margin: 8px auto;
      width: 280px;
      height: 1px;
      background-color: var(--border-color-default);
      border: 0;
    }
  }
  
  &.open .sidebar_sub {
    transform: translateX(0);
  }
}

/* ----- 반응형 ----- */
/* 1) 태블릿 (1024px 이하) */
@media screen and (max-width: 1024px) {
  .doc-sidebar {
    &.open {
      width: 300px; /* 조금 더 줄임 */
    }

    .sidebar_sub {
      width: 244px;
      min-width: 244px;
      transform: translateX(300px);
      /* 열리는 너비도 조정 */

      hr {
        width: 205px;
      }
    }
  }
}

/* 2) 모바일(768px 이하) */
@media screen and (max-width: 768px) {
  .doc-sidebar {
    display: none;
  }
}
